@model RealTalk.Models.AddTagToPost
@{
    ViewBag.Title = "AddTagToPost";
}
<div class="text-light">

    <div class="box2 sb3 text-left txtdark">

        @using (Html.BeginForm("AddTagToPost", "Posts"))
        {
            <h4 class=""><strong>Add Tag To Post with title: @ViewBag.PostTitle</strong></h4><br />
            <div class="form-group txtdark">
                @Html.DropDownListFor(m => m.selectedTag, new SelectList(Model.tags, "Id", "Name"))
            </div>
            <button type="submit" class="btn btn-danger">Add</button>

            @Html.HiddenFor(m => m.selectedPost)
        }
        <br />
        @Html.ActionLink("Add a new tag", "Create", "Tags", null, null)


    </div>
    </div>