@{
    ViewBag.Title = "Home Page";
}
<div class="text-light">
    <!--Welcome box-->
    <div class="col-12 text-center">
        <div class="jumbotron text-light bgdark">
            <img src="/Content/Images/realtalk.png" style="height: 300px;margin-top:-50px; width: auto">
            <h1 class="display-4">#RealTalk - Connected Together!</h1>
            <p class="lead">Connect with strangers over a mutual topic! Search a keyword below.</p>
            <br>

            <!--Search box-->
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4"></div>
                <form class="col-4" action="Posts/Search/">
                    <input class="form-control center-block" type="text" name="tagName" placeholder="Enter a keyword.." aria-label="Search" required>
                    <br>
                    <button class="btn btn-success my-2 my-sm-0" type="submit">Connect to a Discussion</button>

                    <br /> <br /> or <br /><br />
                    <button class="btn btn-success my-2 my-sm-0" type="submit">@Html.ActionLink("Start Your Own!", "Create", "Posts")</button>


                </form>
                <div class="col-4"></div>
            </div>

            </p>
        </div>
    </div>



</div>