@{
    ViewBag.Title = "About";
}


<!--Welcome box-->
<div class="col-12 text-center">
    <div class="jumbotron text-light bgdark">
        <div class="row">
            <div class="col-3 ">   <img src="~/content/Images/logo_transp.png" style="height: 300px; width: auto"></div>
            <div class="col-3 ">
                In the world of modern technology,
                it's still surprisingly hard to find people with interests like your own. <br><br> This web application has the purpose to build a
                friendly and supportive community based off mutual interests, as a way of bringing people together.
                This project's goals is to unite like-minded people together, and encourage creative and productive
                discussions on different topics.<br><br>
                #StayConnected with RealTalk!
            </div>
        </div>
    </div>

</div>
